<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.lsq.mapper.GoodsMapper">
	<resultMap id="BaseResultMap" type="cn.com.lsq.po.Goods">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="bookNumber" property="booknumber" jdbcType="VARCHAR" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="press" property="press" jdbcType="VARCHAR" />
		<result column="cover" property="cover" jdbcType="VARCHAR" />
		<result column="pagination" property="pagination" jdbcType="INTEGER" />
		<result column="publishDate" property="publishdate" jdbcType="VARCHAR" />
		<result column="salePrice" property="saleprice" jdbcType="DOUBLE" />
		<result column="storePrice" property="storeprice" jdbcType="DOUBLE" />
		<result column="introduce" property="introduce" jdbcType="VARCHAR" />
		<result column="readCount" property="readcount" jdbcType="INTEGER" />
		<result column="buyCount" property="buycount" jdbcType="INTEGER" />
		<result column="weight" property="weight" jdbcType="DOUBLE" />
		<result column="inventory" property="inventory" jdbcType="INTEGER" />
		<result column="isOnSale" property="isonsale" jdbcType="INTEGER" />
		<result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
	</resultMap>
	<resultMap type="cn.com.lsq.po.Goods" id="CommentResultMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="bookNumber" property="booknumber" jdbcType="VARCHAR" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="press" property="press" jdbcType="VARCHAR" />
		<result column="cover" property="cover" jdbcType="VARCHAR" />
		<result column="pagination" property="pagination" jdbcType="INTEGER" />
		<result column="publishDate" property="publishdate" jdbcType="VARCHAR" />
		<result column="salePrice" property="saleprice" jdbcType="DOUBLE" />
		<result column="storePrice" property="storeprice" jdbcType="DOUBLE" />
		<result column="introduce" property="introduce" jdbcType="VARCHAR" />
		<result column="readCount" property="readcount" jdbcType="INTEGER" />
		<result column="buyCount" property="buycount" jdbcType="INTEGER" />
		<result column="weight" property="weight" jdbcType="DOUBLE" />
		<result column="inventory" property="inventory" jdbcType="INTEGER" />
		<result column="isOnSale" property="isonsale" jdbcType="INTEGER" />
		<result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
		<collection property="commentlist" ofType="cn.com.lsq.po.Comment">
			<result column="user_id" property="userId" jdbcType="INTEGER" />
			<result column="goods_id" property="goodsId" jdbcType="INTEGER" />
			<result column="content" property="content" jdbcType="VARCHAR" />
			<result column="response" property="response" jdbcType="VARCHAR" />
			<result column="contentTime" property="contenttime" jdbcType="TIMESTAMP" />
			<result column="responseTime" property="responsetime"
				jdbcType="TIMESTAMP" />
		</collection>
	</resultMap>
	<sql id="Base_Column_List">
		id, name, bookNumber, author, type, press, cover,
		pagination,
		publishDate, salePrice,
		storePrice, introduce, readCount,
		buyCount, weight, inventory, isOnSale,
		createTime
  </sql>
	<select id="selectByPrimaryKey" resultMap="CommentResultMap"
		parameterType="java.lang.Integer">
		SELECT goods.*
		,comment.*
		FROM goods
		,COMMENT
		WHERE
		goods.id = comment.goods_id AND
		goods.id = #{id}
	</select>
	<select id="selectByPrimaryKeynocomment" resultMap="CommentResultMap"
		parameterType="java.lang.Integer">
		SELECT goods.*
		FROM goods
		WHERE
		goods.id = #{id}
	</select>
	<select id="querypage" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select *
		from goods
		limit #{startdata},#{lastdata}
  </select>
	<select id="query" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from goods order by buycount desc
	</select>
	<select id="queryHot" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from goods where isonsale = 1 order by buycount desc limit 0,9
	</select>
	<select id="querysumbytype" resultType="java.lang.Integer" parameterType="java.lang.String">
		SELECT SUM(buyCount) FROM goods WHERE TYPE = #{name}
	</select>
	<select id="queryLike" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from goods
		where name like '%${value}%'
	</select>

	<select id="queryByType" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from goods
		where type = #{type}
	</select>

	<select id="queryLess" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from goods
		where inventory <![CDATA[ <=  ]]>
		10
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from goods
		where id = #{id,jdbcType=INTEGER}
  </delete>
	<insert id="insert" parameterType="cn.com.lsq.po.Goods">
		insert into goods (id, name,
		bookNumber,
		author, type, press,
		cover, pagination, publishDate,
		salePrice, storePrice, introduce,
		readCount, buyCount, weight,
		inventory, isOnSale, createTime
		)
		values (#{id,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR},
		#{booknumber,jdbcType=VARCHAR},
		#{author,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
		#{press,jdbcType=VARCHAR},
		#{cover,jdbcType=VARCHAR},
		#{pagination,jdbcType=INTEGER},
		#{publishdate,jdbcType=VARCHAR},
		#{saleprice,jdbcType=DOUBLE}, #{storeprice,jdbcType=DOUBLE},
		#{introduce,jdbcType=VARCHAR},
		#{readcount,jdbcType=INTEGER},
		#{buycount,jdbcType=INTEGER},
		#{weight,jdbcType=DOUBLE},
		#{inventory,jdbcType=INTEGER}, #{isonsale,jdbcType=INTEGER},
		#{createtime,jdbcType=TIMESTAMP}
		)
  </insert>
	<insert id="insertSelective" parameterType="cn.com.lsq.po.Goods">
		insert into goods
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
      </if>
			<if test="name != null">
				name,
      </if>
			<if test="booknumber != null">
				bookNumber,
      </if>
			<if test="author != null">
				author,
      </if>
			<if test="type != null">
				type,
      </if>
			<if test="press != null">
				press,
      </if>
			<if test="cover != null">
				cover,
      </if>
			<if test="pagination != null">
				pagination,
      </if>
			<if test="publishdate != null">
				publishDate,
      </if>
			<if test="saleprice != null">
				salePrice,
      </if>
			<if test="storeprice != null">
				storePrice,
      </if>
			<if test="introduce != null">
				introduce,
      </if>
			<if test="readcount != null">
				readCount,
      </if>
			<if test="buycount != null">
				buyCount,
      </if>
			<if test="weight != null">
				weight,
      </if>
			<if test="inventory != null">
				inventory,
      </if>
			<if test="isonsale != null">
				isOnSale,
      </if>
			<if test="createtime != null">
				createTime,
      </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
      </if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
      </if>
			<if test="booknumber != null">
				#{booknumber,jdbcType=VARCHAR},
      </if>
			<if test="author != null">
				#{author,jdbcType=VARCHAR},
      </if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
      </if>
			<if test="press != null">
				#{press,jdbcType=VARCHAR},
      </if>
			<if test="cover != null">
				#{cover,jdbcType=VARCHAR},
      </if>
			<if test="pagination != null">
				#{pagination,jdbcType=INTEGER},
      </if>
			<if test="publishdate != null">
				#{publishdate,jdbcType=VARCHAR},
      </if>
			<if test="saleprice != null">
				#{saleprice,jdbcType=DOUBLE},
      </if>
			<if test="storeprice != null">
				#{storeprice,jdbcType=DOUBLE},
      </if>
			<if test="introduce != null">
				#{introduce,jdbcType=VARCHAR},
      </if>
			<if test="readcount != null">
				#{readcount,jdbcType=INTEGER},
      </if>
			<if test="buycount != null">
				#{buycount,jdbcType=INTEGER},
      </if>
			<if test="weight != null">
				#{weight,jdbcType=DOUBLE},
      </if>
			<if test="inventory != null">
				#{inventory,jdbcType=INTEGER},
      </if>
			<if test="isonsale != null">
				#{isonsale,jdbcType=INTEGER},
      </if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
      </if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.com.lsq.po.Goods">
		update goods
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
      </if>
			<if test="booknumber != null">
				bookNumber = #{booknumber,jdbcType=VARCHAR},
      </if>
			<if test="author != null">
				author = #{author,jdbcType=VARCHAR},
      </if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
      </if>
			<if test="press != null">
				press = #{press,jdbcType=VARCHAR},
      </if>
			<if test="cover != null">
				cover = #{cover,jdbcType=VARCHAR},
      </if>
			<if test="pagination != null">
				pagination = #{pagination,jdbcType=INTEGER},
      </if>
			<if test="publishdate != null">
				publishDate = #{publishdate,jdbcType=VARCHAR},
      </if>
			<if test="saleprice != null">
				salePrice = #{saleprice,jdbcType=DOUBLE},
      </if>
			<if test="storeprice != null">
				storePrice = #{storeprice,jdbcType=DOUBLE},
      </if>
			<if test="introduce != null">
				introduce = #{introduce,jdbcType=VARCHAR},
      </if>
			<if test="readcount != null">
				readCount = #{readcount,jdbcType=INTEGER},
      </if>
			<if test="buycount != null">
				buyCount = #{buycount,jdbcType=INTEGER},
      </if>
			<if test="weight != null">
				weight = #{weight,jdbcType=DOUBLE},
      </if>
			<if test="inventory != null">
				inventory = #{inventory,jdbcType=INTEGER},
      </if>
			<if test="isonsale != null">
				isOnSale = #{isonsale,jdbcType=INTEGER},
      </if>
			<if test="createtime != null">
				createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.com.lsq.po.Goods">
		update goods
		set
		name = #{name,jdbcType=VARCHAR},
		bookNumber =
		#{booknumber,jdbcType=VARCHAR},
		author = #{author,jdbcType=VARCHAR},
		type = #{type,jdbcType=VARCHAR},
		press = #{press,jdbcType=VARCHAR},
		cover = #{cover,jdbcType=VARCHAR},
		pagination =
		#{pagination,jdbcType=INTEGER},
		publishDate =
		#{publishdate,jdbcType=VARCHAR},
		salePrice =
		#{saleprice,jdbcType=DOUBLE},
		storePrice =
		#{storeprice,jdbcType=DOUBLE},
		introduce =
		#{introduce,jdbcType=VARCHAR},
		readCount =
		#{readcount,jdbcType=INTEGER},
		buyCount = #{buycount,jdbcType=INTEGER},
		weight = #{weight,jdbcType=DOUBLE},
		inventory =
		#{inventory,jdbcType=INTEGER},
		isOnSale = #{isonsale,jdbcType=INTEGER},
		createTime = #{createtime,jdbcType=TIMESTAMP}
		where id =
		#{id,jdbcType=INTEGER}
  </update>
</mapper>