<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.lsq.mapper.CommentMapper" >
  <resultMap id="BaseResultMap" type="cn.com.lsq.po.Comment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="response" property="response" jdbcType="VARCHAR" />
    <result column="contentTime" property="contenttime" jdbcType="TIMESTAMP" />
    <result column="responseTime" property="responsetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, goods_id, content, response, contentTime, responseTime
  </sql>
  <select id="selectByGoodsId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	SELECT * FROM COMMENT WHERE goods_id = #{goodsid}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
  	SELECT comment.*,goods.name FROM COMMENT,goods WHERE comment.goods_id = goods.id ORDER BY contentTime
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByUserIdAndGoodsIdForTest" resultMap="BaseResultMap" parameterType="java.lang.Integer"  >
  	SELECT * FROM COMMENT WHERE goods_id = #{goodsId} AND user_id = #{userId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.lsq.po.Comment" >
    insert into comment (id, user_id, goods_id, 
      content, response, contentTime, 
      responseTime)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{response,jdbcType=VARCHAR}, #{contenttime,jdbcType=TIMESTAMP}, 
      #{responsetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.lsq.po.Comment" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="response != null" >
        response,
      </if>
      <if test="contenttime != null" >
        contentTime,
      </if>
      <if test="responsetime != null" >
        responseTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="response != null" >
        #{response,jdbcType=VARCHAR},
      </if>
      <if test="contenttime != null" >
        #{contenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="responsetime != null" >
        #{responsetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.lsq.po.Comment" >
    update comment
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="response != null" >
        response = #{response,jdbcType=VARCHAR},
      </if>
      <if test="contenttime != null" >
        contentTime = #{contenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="responsetime != null" >
        responseTime = #{responsetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.lsq.po.Comment" >
    update comment
    set user_id = #{userId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      response = #{response,jdbcType=VARCHAR},
      contentTime = #{contenttime,jdbcType=TIMESTAMP},
      responseTime = #{responsetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>