<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.lsq.mapper.ExpressMapper" >
  <resultMap id="BaseResultMap" type="cn.com.lsq.po.Express" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="startingPrice" property="startingprice" jdbcType="DOUBLE" />
    <result column="increasingPrice" property="increasingprice" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, startingPrice, increasingPrice
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from express
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from express    
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from express
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.lsq.po.Express" >
    insert into express (id, name, startingPrice, 
      increasingPrice)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{startingprice,jdbcType=DOUBLE}, 
      #{increasingprice,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.lsq.po.Express" >
    insert into express
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="startingprice != null" >
        startingPrice,
      </if>
      <if test="increasingprice != null" >
        increasingPrice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="startingprice != null" >
        #{startingprice,jdbcType=DOUBLE},
      </if>
      <if test="increasingprice != null" >
        #{increasingprice,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.lsq.po.Express" >
    update express
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="startingprice != null" >
        startingPrice = #{startingprice,jdbcType=DOUBLE},
      </if>
      <if test="increasingprice != null" >
        increasingPrice = #{increasingprice,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.lsq.po.Express" >
    update express
    set name = #{name,jdbcType=VARCHAR},
      startingPrice = #{startingprice,jdbcType=DOUBLE},
      increasingPrice = #{increasingprice,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>